:root {
  font-family: "Poppins", Arial, sans-serif, system-ui;

  --background: #1e1e1e;
  --second-background: #2e2e2e;
  --text-color: #ffffffde;
  --hover-background: #621c1c;
  --hover-text: #ffffffde;

  color-scheme: dark light;
  background-color: var(--background);
  color: var(--text-color);
  
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 90dvh;
}