.technologies__container {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: var(--background);
    
    width: 100%;
    height: 100dvh;

    .technologies__container-title{
        font-size: 3rem;
        width: 100%;
        text-align: center;
    }
}