.projects__container {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: var(--second-background);

    .projects__container-title{
        font-size: 3rem;
        width: 100%;
        text-align: center;
    }
}